
<div class="container" >
    <div class="row mt-3" >
        
        <input type="button" value="search" class="col-2 form-control pr-2 pl-2 mr-2 ml-2" style="width: fit-content;border-radius: .2em; color: blueviolet;">
        <input type="button" value="Create" class="col-2 form-control pl-2 pr-2 mr-2 ml-2"style="width: fit-content;border-radius: .2em; color: blueviolet;" (click)="create()">

    </div>
      

<div class="table_view">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Slno</th>
            <th scope="col">Name Of the client</th>
            <th scope="col">Address</th>
            <th scope="col">Phone NO</th> 
            <th scope="col"> Mail</th>

          </tr>
        </thead>
        <tbody>
          <tr  >
              <!-- *ngFor="let m of vendorlist" -->
              <td ></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><input type="button" value="Edit" (click)="edit()"></td>
              <td><input type="button" value="Delete" (click)="delete()"></td>

            
          </tr>
        </tbody>
      </table>
</div>


    
</div>